<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>臨時パスワード</title>
    <style>
        .container {
            text-align: center;
        }
        .h3 {
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>臨時パスワード</h1>
            <a href="https://shanaly.net/" target="_blank">https://shanaly.net/</a>
        </div>
        <div>
            <div>
                <p>次のパスワードでログインしてください。</p>
                <p>ログイン後に自分が欲しいパスワードに変更してください。</p>
                <p>Please login with the next temporary password</p>
                <p>and change it into a password which you want</p>
            </div>
            <div>
                <h3>{{ temp_password }}</h3>
            </div>
        </div>
    </div>
</body>
</html>